.nav-header 
{
    font-size: 2rem;
    text-decoration: none;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
    
}
.active 
{
    color: yellow;
    text-decoration: none;
    transition: all ease-in-out;
}
.nav-element 
{
    text-decoration: none;
    transition: all ease-in-out;
}